*, 
*::after, 
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family:'Cabin', sans-serif;
}

ul {
    list-style: none;
}

body {
    background: radial-gradient(circle, rgba(15,6,6,1) 20%, rgba(22,2,2,1) 100%);
    height: 100vh;
}

header {
    background-color: rgba(42, 10, 10, 0.95);
    backdrop-filter: blur(3px);
    box-shadow: 4px 3px 40px -10px rgba(182, 4, 4, 0.67);
    border-radius: 0.8rem 0.8rem 9rem 9rem;

    height: 11vh;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
}

header ul {
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

header ul li {
    color: #690500;
    text-shadow: -2.4px 1px 1px rgba(0,0,0,0.62);
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}

header ul li.active {
    position: relative;
}

header ul li i.fa-solid.fa-droplet {
    position: absolute;
    bottom: -1.4rem;
    right: 1rem;
    font-size: 1.5rem;

    animation: dropDown 450ms ease-out forwards;
}

header ul li#AB i.fa-solid.fa-droplet {
    position: absolute;
    right: 1.45rem;
}

header ul li:not(.active) i.fa-solid.fa-droplet {
    display: none;
}

@keyframes dropDown {
    0% {
        opacity: 0;
        transform: translateY(-1.2rem);
    }

    25% {
        opacity: 0.75;
        transform: translateY(-1rem);
    }
    
    50% {
        opacity: 1;
        transform: translateY(0);
    }

    75%{
        opacity: 1;
        transform: translateY(.3rem);
    }

    95% {
        opacity: 1;
        transform: translateY(-0.2rem);
    }

    100% {
        opacity: 0.75;
        transform: translateY(0);
    }
}


main {
    margin: 20vh auto;
}

main ul {
    display: flex;
    gap: 2.7rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 1rem auto;
}

main ul li {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
   
    box-shadow: -4px -2px 0px 1.5px rgb(41, 0, 0);
    border: 1px solid rgba(0,0,0,0.20);
    
    padding: .7rem 1.3rem;
    height: 10vh;
    width: 28rem;

    background-color: #2A0A0A;
    border-radius: 1.5rem;

    transition: all 200ms ease-in;
}

main ul li:hover {
    box-shadow: 2px 1px 5px 0px rgb(109, 0, 0);
    transform: scale(0.99);
}

main ul li .profile {
    flex: 0.5;
    height: 100%;
    overflow: hidden;
    border-radius: 1rem;
    border: 1px solid #3a0a0a;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
}

main ul li .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(75%);
}

main ul li .aboutPeople {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    color: #8f0902;
}

main ul li .aboutPeople p {
    font-size: 1.6rem;
    text-shadow: -2px .8px 1px rgba(0,0,0,0.62);
}

main ul li .bloodType {
    display: grid;
    place-items: center;
}

main ul li .bloodType p {
    font-size: 2.5rem;
    text-shadow: -2.4px 1px 1px rgba(0,0,0,0.62);
    color: #850700;
}